<h1>Listings Page</h1>
<h1 ng-controller="ListingsController as vm">Listings</h1>
<input type="number" placeholder="New Property Cost" ng-model="vm.newListing.cost">
<input type="number" placeholder="Square Footage" ng-model="vm.newListing.sqft">
<input type="text" placeholder="New Property City" ng-model="vm.newListing.city">
<button ng-click="vm.addNewListing(vm.newListing)">Add new Listing</button>
<div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                 Sale Price
            </th>
            <th>
                Square Footage
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sale in vm.listings.list">
            <td>
                <h3>{{sale.cost}}</h3>
            <td>
                <p>{{sale.sqft}}</p>
            </td>
            <td>
                <p>{{sale.city}}</p>
            </td>
            <td><button ng-click="vm.deleteListings(sale)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>