<h1>Listings Page</h1>
<h1 ng-controller="ListingsController as vm">Listings</h1>
<!-- <input type="text" placeholder="New Hero Nam" ng-model="vm.newHero.name">
<textarea type="text" placeholder="New Backstory" ng-model="vm.newHero.backstory"></textarea>
<button ng-click="vm.addNewHero(vm.newHero)">Add new hero</button> -->
<div>
<table>
    <thead>
        <tr>
            <th>
                 Cost
            </th>
            <th>
                Square Footage
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sale in vm.listings.list">
            <td>
                <h3>{{sale.cost}}</h3>
                <!-- <input ng-if="hero.isEditable" type="text" ng-model="hero.name"></td> -->
            <td>
                <p>{{sale.sqft}}</p>
                <!-- <textarea ng-if="hero.isEditable" type="text" placeholder="New Hero Backstory" ng-model="hero.backstory"></textarea>             -->
            </td>
            <td>
                <p>{{sale.city}}</p>
            </td>
            <!-- <td><button ng-click="hero.isEditable = !hero.isEditable">Edit</button></td> -->
            <!-- this is how to show/hide on a button click -->
            <!-- <td><button ng-click="vm.deleteHeroes(hero)">Delete</button></td> -->
        </tr>
    </tbody>
</table>
</div>