<h1>For Sale</h1>
<div class="container">
<image src="images/for_sale.jpg"></image>
</div>
<h1 ng-controller="ListingsController as vm">Add a Property For Sale</h1>
<input type="number" placeholder="New Property Cost" ng-model="vm.newListing.cost">
<input type="number" placeholder="Square Footage" ng-model="vm.newListing.sqft">
<input type="text" placeholder="New Property City" ng-model="vm.newListing.city">
<button class="bg-primary" ng-click="vm.addNewListing(vm.newListing)">Add new Listing</button>
{{vm.newListing}}
<div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                 Sale Price
            </th>
            <th>
                Square Footage
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sale in vm.listings.list">
            <td>
                <h3>{{sale.cost}}</h3>
            <td>
                <p>{{sale.sqft}}</p>
            </td>
            <td>
                <p>{{sale.city}}</p>
            </td>
            <td><button class="bg-danger" ng-click="vm.deleteListings(sale)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>